<ul class="list-group">
  <li class="list-group-item">
    <strong>Projects</strong> <span class="badge"><%= projects.size %></span>
  </li>

  <% projects.each do |project| %>
    <li class="list-group-item">
      &nbsp;&nbsp;&nbsp;<%= link_to project['name'], project_resources_path(project['slug']) %>
    </li>
  <% end %>
</ul>
