.resource-table {
  .resource-stats {
    display: none;
  }

  .resource-stat-list {
    margin-top: 15px;
  }

  .resource-stat-progress {
    width: 100px;
  }

  .resource-stat-language {
    margin-left: 10px;
  }

  .resource-row {
    .completion {
      cursor: pointer;
    }
  }
}
