<% content_for :title do %>
  Translations Last 30 Days
<% end %>

<div class="gridster">
  <br/>
  <h1 class="title">Translations Last 30 Days</h1>
  <br/>
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lumosity" data-view="Hotness" data-title="Lumosity.com" data-cool="0" data-warm="50"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="android" data-view="Hotness" data-title="Android" data-cool="0" data-warm="50"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ios" data-view="Hotness" data-title="iOS" data-cool="0" data-warm="50"></div>
    </li>
  </ul>
</div>
